.card {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
  width: 25%;
  position: relative;
}

.card-colors {
  display: inline-block;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgba(0 , 0, 0, 0.5);
}

.card_colorFirst {
  background-color: #EBEF40;
}
.card_colorSecond {
  background-color: #FF1010;
}
.card_colorThird {
  background-color: #45AAEE;
}
.card_colorFourth {
  background-color: #76EF40;
}

.wrap-card-colors {
  position: absolute;
  top: 0;
  left: 0;
}

.card-colors_colorFirst {
  background-color: #EBEF40;
  color: #EBEF40;
}
.card-colors_colorSecond {
  background-color: #FF1010;
  color: #FF1010;
}
.card-colors_colorThird {
  background-color: #45AAEE;
  color: #45AAEE;
}
.card-colors_colorFourth {
  background-color: #76EF40;
  color: #76EF40;
}
