[data-color="first"] {
  background-color: #EBEF40;
}
[data-color="second"] {
  background-color: #FF1010;
}
[data-color="third"] {
  background-color: #45AAEE;
}
[data-color="fourth"] {
  background-color: #76EF40;
}

.card {
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
  width: 25%;
  position: relative;
}

.wrap-card-options {
  position: absolute;
  top: -16px;
  left: 0;
}
.card_delete {
  background-color: white;
  background-image: url('/images/delete.svg');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
}
.card-options {
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgba(0 , 0, 0, 0.5);
}

.card-options.isActive {
  border-width: 4px;
}
